/*=====================================================*/
/*                MENU LATERAL DE LIVROS               */
/*           Menu lateral com lista de livros da Bíblia */
/*=====================================================*/

/* O bloco abaixo configura o menu lateral de livros */
.menu-livros {
    position: fixed;                                       /* Fixa na tela                       */
    top: 150px;                                            /* Posiciona do topo                  */
    left: 0;                                               /* Alinha à esquerda                  */
    bottom: 0;                                             /* Alinha ao fundo                    */
    z-index: 10;                                           /* Define ordem de empilhamento       */
    width: 225px;                                          /* Define largura                     */
    height: calc(100vh - 180px);                           /* Calcula altura dinâmica            */
    margin-right: 20px;                                    /* Adiciona espaço à direita          */
    padding: 18px;                                         /* Adiciona espaço interno            */
    background-color: #181818;                           /* Define cor de fundo                */
    color: #fff;                                         /* Define cor do texto                */
    flex: 1;                                               /* Define flexibilidade               */
    overflow-y: auto;                                      /* Adiciona rolagem vertical          */
}

/* O bloco abaixo configura a barra de rolagem do menu lateral dos livros */
.menu-livros::-webkit-scrollbar {
    width: 12px;                                           /* Define largura da barra            */
}

.menu-livros::-webkit-scrollbar-track {
    background: #383838;                                 /* Define cor de fundo                */
}

.menu-livros::-webkit-scrollbar-thumb {
    margin: 5px;                                            /* Adiciona margem                   */
    background: #a7a2a2;                                  /* Define cor de fundo               */
    border-radius: 10px;                                    /* Arredonda bordas                  */
}

/* O bloco abaixo configura o estilo da lista de livros no menu barra lateral */
.menu-livros ul {
    margin: 15px;                                          /* Adiciona margem                     */
    margin-top: 5px;                                       /* Adiciona margem superior            */
    padding: 0;                                            /* Remove preenchimento                */
    list-style-type: none;                                 /* Remove marcadores da lista          */
}

/* O bloco abaixo configura o espaçamento dos itens da lista do barra lateral */
.menu-livros li {
    margin-bottom: 10px;                                   /* Adiciona espaço inferior             */
}

/* O bloco abaixo configura a cor e a remoção do sublinhamento dos links do menu lateral */
.menu-livros a {
    text-decoration: none;                                 /* Remove sublinhado                    */
    color: #fcf9f9;                                      /* Define cor do texto                  */
}

/* O bloco abaixo configura o efeito "hover" dos links do menu lateral */
.menu-livros a:hover {
    text-decoration: underline;                            /* Adiciona sublinhado                  */
}