

/* Configura o corpo da pagina principal */ 
body {
    background-color: #181818;
    color: #fff;
    font-family: sans-serif; 
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Configura o diâmetro da barra do titulo */
header {
    background-color: #282828;
    padding: 25px;
    width: 97%;
    position: relative;
    height: 55px;
}

/* Configura a posição da busca */
.header-top {
    display: flex;
    justify-content: space-between;
}

/* Configura o tamanho da fonte e posição do titulo */
h1 {
    margin: 0;
    font-size: 2.5em; 
}

/* Configura a barra de menu superior e o texto*/
.header-bottom {
    background-color: #383838;
    padding: 13px;
    display: flex;
    width: 101.2%;
    margin-top: 28px;
    margin-left: -23px;
}

.header-bottom nav ul {
    margin-left: 800px;
}

nav ul {
    margin: 0;

}

/* Configura o espaçamento das opções do menu superior */
nav li {
    margin-right: 20px;
    display: inline-block;
}

/* Configura a cor do texto das opções do menu superior */
nav a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    align-items: center; 
    display: flex;
    flex-shrink: 0;
}

.search-bar select {
    padding: 8px;
    border: 1px solid #fff; 
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;  
    background-color: #383838;
    color: #fff;
    appearance: none;
}

/* Configuração específicos para o navegador Internet Explorer */
.search-select::-ms-expand {
    display: none; 
}

.search-bar input {
    padding: 8px;
    border: 1px solid #fff; 
    font-size: 16px; 
    border-radius: 5px;
    background-color: #383838;
    color: #fff;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

/* Configura o tamanho da pagina principal */
main {
    width: 100%;
    padding-right: 250px;
    height: calc(100vh - 160px);
    overflow-y: hidden;
}

/* Configura o menu lateral */
.sidebar {
    position: fixed;
    top: 143px;  
    left: 0; 
    width: 210px; 
    background-color: #181818; 
    padding: 10px; 
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    height: 730px;
}

/* Configura o titulo da barra lateral */
.sidebar h2 {
    margin-top: 0px;
    margin: 0px;
    margin-left: 14px; 
}

/* Estilos para a lista de livros da barra lateral */
.sidebar ul {
    list-style: none; 
    margin: 15px; 
    padding: 0; 
}

/* Configura o espaçamento interior dos itens da lista na barra lateral */
.sidebar li {
    margin-bottom: 10px; 
}

.sidebar a {
    text-decoration: none; 
    color: #fcf9f9; 
}

/* aqui Configura a area dos botões dos capítulos */
section {
    padding: 20px;
    height: calc(100vh - 590px);
    /* overflow-y: auto;*/
}

/* Configura a area e a distancia horizontal dos botões dos capítulos de cada livro */
.chapters {
    flex: 1; 
    width: 100px; 
    min-width: 50px; 
    box-sizing: border-box;
    margin: 0 620px;
    padding-top: 20px;
}

/* Configura quantas colunas sera exibida dos capítulos na pagina principal */
.chapter-grid {
    display: grid; 
    grid-template-columns: repeat(10, 1fr); 
    gap: 20px;/* aqui */
    width: calc(100% - 20px);
    margin-top: 20px;
}

/* Configuração especifica para alguns livros que possuem menos de 10 capítulos */
.chapter-grid[data-book="rute"] {
    margin-left: 290px;
}

.chapter-grid[data-book="cantares"] {
    margin-left: 140px;
}

.chapter-grid[data-book="lamentacoes"] {
    margin-left: 244px;
}

.chapter-grid[data-book="joel"] {
    margin-left: 340px;
}

.chapter-grid[data-book="amos"] {
    margin-left: 60px;
}

.chapter-grid[data-book="obadias"] {
    margin-left: 438px;
}

.chapter-grid[data-book="jonas"] {
    margin-left: 290px;
}

.chapter-grid[data-book="miqueias"] {
    margin-left: 155px;
}

.chapter-grid[data-book="naum"] {
    margin-left: 340px;
}

.chapter-grid[data-book="habacuque"] {
    margin-left: 340px;
}

.chapter-grid[data-book="sofonias"] {
    margin-left: 340px;
}

.chapter-grid[data-book="ageu"] {
    margin-left: 392px;
}

.chapter-grid[data-book="malaquias"] {
    margin-left: 290px;
}

.chapter-grid[data-book="galatas"] {
    margin-left: 200px;
}

.chapter-grid[data-book="efesios"] {
    margin-left: 200px;
}

.chapter-grid[data-book="filipenses"] {
    margin-left: 290px;
}

.chapter-grid[data-book="colossenses"] {
    margin-left: 290px;
}

.chapter-grid[data-book="1tessalonicenses"] {
    margin-left: 250px;
}

.chapter-grid[data-book="2tessalonicenses"] {
    margin-left: 343px;
}

.chapter-grid[data-book="1timoteo"] {
    margin-left: 198px;
}

.chapter-grid[data-book="2timoteo"] {
    margin-left: 292px;
}

.chapter-grid[data-book="tito"] {
    margin-left: 245px;
}

.chapter-grid[data-book="filemom"] {
    margin-left: 440px;
}

.chapter-grid[data-book="tiago"] {
    margin-left: 245px;
}

.chapter-grid[data-book="1pedro"] {
    margin-left: 245px;
}

.chapter-grid[data-book="2pedro"] {
    margin-left: 343px;
}

.chapter-grid[data-book="1joao"] {
    margin-left: 245px;
}

.chapter-grid[data-book="2joao"] {
    margin-left: 435px;
}

.chapter-grid[data-book="3joao"] {
    margin-left: 435px;
}

.chapter-grid[data-book="judas"] {
    margin-left: 435px;
}
/* Configura a cor do botões */
.chapter {
    background-color: #282828; 
    border: 1px solid #fff; 
    border-radius: 15px; 
    padding: 10px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    color: #fff;
    width: 60px;
}

/* Configura a cor dos botões ao passar o mouse */
.chapter:hover {
    background-color: #319c10;

}

/* Configura a barra no rodapé da pagina */
footer {
    background-color: #383838;
    text-align: center;
    padding: fixed;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: 1;
    height: 30px;
}

/* Configura o tamanho da fonte e a altura da barra inferior da pagina */
footer p {
    font-size: 16px;
    line-height: 0.2;
}

/* Imagem da Bíblia */
.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 10;
    pointer-events: none;
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
}

.watermark img {
    position: absolute;
    bottom: -220px; /* Move a imagem para cima mantendo a parte inferior visível */
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Configura o cabeçalho */
header.cabecalho {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header.cabecalho .logo {
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

/* Configura a seção da página inicial */
section.pagina-inicial {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.pagina-inicial h3 {
    text-align: center;
    font-size: 28px;
}

section.pagina-inicial p {
    font-size: 18px;
    text-align: justify;
}
/* Configura o rodapé */
div.cap-rod {
    margin-top: 30px;
    text-align: center;
}

div.cap-rod h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* aqui Estilos para os botões de versículos */
.verse-grid {
    display: grid;
    grid-template-columns: repeat(10, 60px); /* Defina o tamanho das colunas explicitamente */
    gap: 5px;
    margin-top: -30px; /* Espaçamento entre os botões de capítulos e versículos (ajuste conforme necessário) */
    column-gap: 0;
    padding-left: 717px; /* Adiciona espaço à esquerda para empurrar os botões para a direita */
}

.verse {
    width: 50px; /* Defina a largura desejada*/
    background-color: #282828; 
    border: 1px solid #fff; 
    border-radius: 15px; 
    padding: 5px; /* aqui 1 ,Reduz o padding para botões menores */
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    color: #fff;
    height: 30px; /* Ajuste a altura dos botões conforme necessário */ 
    margin-right: 0px; /* Ajuste este valor para diminuir a distância horizontal */
}
