body {
            font-family: Arial, sans-serif; /* Define tipo de fonte padrão */
            line-height: 1.6; /* Define altura da linha */
            margin: 0; /* Remove margens */
            padding: 20px; /* Adiciona espaço interno */
            background-color: #f4f4f4; /* Define cor de fundo */
        }
        
        h1 {
            text-align: center; /* Centraliza texto */
            color: #3663bd; /* Define cor do texto */
            font-size: 2.5em; /* Define tamanho da fonte */
            font-weight: 900; /* Aumenta a espessura da fonte */
            font-style: italic; /* Aplica estilo itálico */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
        }

        h2 {
            text-align: left; /* Alinha texto à esquerda */
            color: #3663bd; /* Define cor do texto */
            font-size: 2em; /* Define tamanho da fonte */
            font-weight: 900; /* Aumenta a espessura da fonte */
            font-style: italic; /* Aplica estilo itálico */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
        }

        
        ul {
            list-style-type: none; /* Remove marcadores da lista */
            padding: 0; /* Remove preenchimento */
        }
        li {
            background: #fff; /* Define cor de fundo */
            margin: 10px 0; /* Adiciona espaço vertical */
            padding: 15px; /* Adiciona espaço interno */
            border-radius: 5px; /* Arredonda bordas */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adiciona sombra suave */
        }
        a {
            text-decoration: none; /* Remove sublinhado */
            color: #007BFF; /* Define cor do link */
        }
        a:hover {
            text-decoration: underline; /* Adiciona sublinhado ao hover */
        }
        .watermark {
            position: fixed; /* Fixa a marca d'água na tela */
            top: 0; /* Alinha ao topo */
            left: 0; /* Alinha à esquerda */
            width: 100%; /* Ocupa toda largura */
            height: 100%; /* Ocupa toda altura */
            background-image: url("..\img\cursos.jpg"); /* Define imagem de fundo */
            background-repeat: repeat; /* Define repetição da imagem */
            background-size: 200px 200px; /* Define tamanho da imagem */
            opacity: 0.2; /* Define transparência */
            pointer-events: none; /* Desativa eventos do mouse */
            background-size: cover; /* Ajusta imagem para cobrir área */
        }
        .content {
            /* Estilos para a seção de conteúdo (se necessário) */
            width: 100%; /* Define a largura do conteúdo para 100% */
        }