/* === Este arquivo e compartilhado "GLOBAL" === */

/* O bloco abaixo configura o corpo da página */
body {
    background-color: #181818; /* Define cor de fundo escura */
    color: #fff; /* Define cor do texto */
    font-family: sans-serif; /* Define tipo de fonte */
    margin: 0; /* Remove margens externas */
    width: 100%; /* Define largura total */
    font-style: italic; /* Aplica estilo itálico */
    overflow-x: hidden; /* Oculta barra horizontal */
    font-weight: bold; /* Define peso da fonte */
    color: #d4ac0d; /* Define cor dourada */
}

/* O bloco abaixo configura o cabeçalho */
header {
    width: 100%; /* Define largura total */
}

/* O bloco abaixo configura o título principal */
h1 {
    margin: 0; /* Remove margens */
    margin-top: 20px; /* Adiciona espaço superior */
    margin-left: 30px; /* Adiciona espaço à esquerda */
    font-size: 2.5em; /* Define tamanho da fonte */
    font-style: italic; /* Aplica estilo itálico */
}

/* O bloco abaixo configura a barra de navegação */
nav {
    background: linear-gradient(to right, #333, #555, #777); /* Cria gradiente horizontal */
    width: 100%; /* Define largura total */
    padding: 10px 0; /* Adiciona espaço interno vertical */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona sombra suave */
    display: flex; /* Habilita flexbox */
    align-items: center; /* Centraliza itens verticalmente */
    justify-content: space-between; /* Distribui espaço */
    height: 40px; /* Define altura fixa */
    position: fixed; /* Fixa na tela */
    top: 110px; /* Posiciona do topo */
}

/* O bloco abaixo configura o estilo do título "LIVROS" na barra de navegação */
.menu-title {
    color: white; /* Define cor do texto */
    font-size: 1.5vw; /* Define tamanho responsivo */
    margin-left: 37px; /* Adiciona espaço à esquerda */
    margin-right: 20px; /* Adiciona espaço à direita */
    width: auto; /* Define largura automática */
    text-align: left; /* Alinha texto à esquerda */
    display: flex; /* Habilita flexbox */
    align-items: center; /* Centraliza verticalmente */
    white-space: nowrap; /* Previne quebra de linha */
}

/* O bloco abaixo configura o estilos da lista de opções da barra de navegação */
nav .menu-opcoes {
    display: flex; /* Habilita flexbox */
    list-style: none; /* Remove marcadores da lista */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimento */
    flex-grow: 1; /* Permite crescimento */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: nowrap; /* Previne quebra de linha */
    margin-left: 70px; /* Adiciona espaço à esquerda */
}

/* O bloco abaixo configura o estilos de cada item da lista */
nav .menu-opcoes li {
    margin: 0 13px; /* Adiciona espaço horizontal */
    white-space: nowrap; /* Previne quebra de linha */
}

/* O bloco abaixo configura o links de navegação */
nav .menu-opcoes li a {
    text-decoration: none; /* Remove sublinhado */
    color: white; /* Define cor do texto */
    padding: 4px 4px; /* Adiciona espaço interno */
    border-radius: 5px; /* Arredonda bordas */
    transition: background 0.3s ease; /* Adiciona transição suave */
    font-size: 1.2vw; /* Define tamanho responsivo */
    display: inline-block; /* Define tipo de exibição */
}

/* O bloco abaixo configura o efeito "hover" para os links de navegação*/
nav .menu-opcoes li a:hover {
    background: rgba(255, 255, 255, 0.2); /* Adiciona fundo semi-transparente */
}

/* O bloco abaixo configura o menu lateral dos livros */
.menu-livros {
    flex: 1; /* Define flexibilidade */
    margin-right: 20px; /* Adiciona espaço à direita */
    height: 100vh; /* Define altura total da viewport */
    overflow-y: auto; /* Adiciona rolagem vertical */
    background-color: #181818; /* Define cor de fundo */
    color: #fff; /* Define cor do texto */
    padding: 20px; /* Adiciona espaço interno */
    position: fixed; /* Fixa na tela */
    top: 150px; /* Posiciona do topo */
    left: 0; /* Alinha à esquerda */
    width: 228px; /* Define largura */
    bottom: 0; /* Alinha ao fundo */
    z-index: 10; /* Define ordem de empilhamento */
    height: calc(100vh - 180px); /* Calcula altura dinâmica */
}

/* O bloco abaixo configura a barra de rolagem do menu lateral dos livros */
.menu-livros::-webkit-scrollbar {
    width: 12px; /* Define largura da barra */
}

.menu-livros::-webkit-scrollbar-track {
    background: #383838; /* Define cor de fundo */
}

.menu-livros::-webkit-scrollbar-thumb {
    background: #a7a2a2; /* Define cor de fundo */
    border-radius: 10px; /* Arredonda bordas */
    margin: 5px; /* Adiciona margem */
}

/* O bloco abaixo configura o estilo da lista de livros no menu barra lateral */
.menu-livros ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento */
    margin: 15px; /* Adiciona margem */
    margin-top: 5px; /* Adiciona margem superior */
}

/* O bloco abaixo configura o espaçamento dos itens da lista do barra lateral */
.menu-livros li {
    margin-bottom: 10px; /* Adiciona espaço inferior */
}

/* O bloco abaixo configura a cor e a remoção do sublinhamento dos links do menu lateral */
.menu-livros a {
    color: #fcf9f9; /* Define cor do texto */
    text-decoration: none; /* Remove sublinhado */
}

/* O bloco abaixo configura o efeito "hover" dos links do menu lateral */
.menu-livros a:hover {
    text-decoration: underline; /* Adiciona sublinhado */
}

/* O bloco abaixo configura a área do conteúdo principal */
.content {
    flex: 3; /* Define flexibilidade */
    overflow-y: auto; /* Adiciona rolagem vertical */
    overflow-x: hidden; /* Oculta rolagem horizontal */
    height: calc(100vh - 160px); /* Calcula altura dinâmica */
    gap: 10px; /* Define espaçamento entre elementos */
}

/* O bloco abaixo configura a barra de rolagem da área de conteúdo principal */
.content::-webkit-scrollbar {
    width: 16px; /* Define largura da barra */
}

.content::-webkit-scrollbar-track {
    background: #383838; /* Define cor de fundo */
}

.content::-webkit-scrollbar-thumb {
    background: #a7a2a2; /* Define cor de fundo */
    border-radius: 10px; /* Arredonda bordas */
    margin: 5px; /* Adiciona margem */
    min-height: 50px; /* Define altura mínima */
}

/* O bloco abaixo configura o contêiner principal */
.container {
    display: flex; /* Habilita flexbox */
    flex-direction: row; /* Define direção horizontal */
}

/* O bloco abaixo configura a barra de busca */
.search-bar {
    display: flex; /* Habilita flexbox */
    align-items: center; /* Centraliza verticalmente */
    margin-right: 20px; /* Adiciona espaço à direita */
}

/* O bloco abaixo configura o seletor da barra de busca */
.search-bar select {
    margin-right: 5px; /* Adiciona espaço à direita */
    color: #fff; /* Define cor do texto */
    font-size: 16px; /* Define tamanho da fonte */
    padding: 8px; /* Adiciona espaço interno */
    border: 1px solid #fff; /* Adiciona borda */
    appearance: none; /* Remove aparência padrão */
    border-radius: 5px; /* Arredonda bordas */
    background-color: #383838; /* Define cor de fundo */
}

/* O bloco abaixo configura a caixa de texto da barra de busca */
.search-bar input[type="text"] {
    margin-right: 10px; /* Adiciona espaço à direita */
    font-size: 16px; /* Define tamanho da fonte */
    padding: 8px; /* Adiciona espaço interno */
    border: 1px solid #fff; /* Adiciona borda */
    background-color: #383838; /* Define cor de fundo */
    color: #fff; /* Define cor do texto */
    border-radius: 5px; /* Arredonda bordas */
}

/* O bloco abaixo configura o botão da barra de busca */
.search-bar button {
    color: white; /* Define cor do texto */
    cursor: pointer; /* Muda cursor para pointer */
    padding: 8px 15px; /* Adiciona espaço interno */
    border-radius: 5px; /* Arredonda bordas */
    background-color: #4CAF50; /* Define cor de fundo */
    border: 1px solid #fff; /* Adiciona borda */
    font-size: 16px; /* Define tamanho da fonte */
}

/* O bloco abaixo configura o efeito "hover" do botão de busca */
.search-bar button:hover {
    background-color: #f34141; /* Muda cor de fundo ao hover */
}

/* O bloco abaixo configura o cabeçalho superior */
.header-top {
    display: flex; /* Habilita flexbox */
    justify-content: space-between; /* Distribui espaço entre elementos */
}

/* O bloco abaixo configura o cabeçalho inferior */
.header-bottom {
    margin-top: 65px; /* Adiciona espaço superior */
}

/* O bloco abaixo configura o título "h2" */
h2 {
    font-style: italic; /* Aplica estilo itálico */
    font-size: 2.5vw; /* Define tamanho responsivo */
    text-align: center; /* Centraliza texto */
    margin-top: 30px; /* Adiciona espaço superior */
    margin-bottom: 30px; /* Adiciona espaço inferior */
    margin-left: 230px; /* Adiciona espaço à esquerda */
    max-width: calc(100% - 80px); /* Calcula largura máxima */
}

/* O bloco abaixo configura o título "h3" */
h3 {
    font-size: 1.5em; /* Define tamanho da fonte */
    font-style: italic; /* Aplica estilo itálico */
    margin-left: 14px; /* Adiciona espaço à esquerda */
    margin-top: 5px; /* Adiciona espaço superior */
}

/* O bloco abaixo configura o rodapé */
footer {
    background-color: #383838; /* Define cor de fundo */
    text-align: center; /* Centraliza texto */
    padding: fixed; /* Define preenchimento fixo */
    width: 100%; /* Define largura total */
    position: fixed; /* Fixa na tela */
    bottom: 0; /* Alinha ao fundo */
    left: 0px; /* Alinha à esquerda */
    z-index: 1; /* Define ordem de empilhamento */
    height: 30px; /* Define altura */
}

/* O bloco abaixo configura o texto do rodapé */
footer p {
    font-size: 16px; /* Define tamanho da fonte */
    line-height: 1.8; /* Define altura da linha */
}

/* O bloco abaixo configura a imagem de fundo em marca d'água */
.watermark-image {
    position: fixed; /* Fixa na tela */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Define largura total */
    height: 120%; /* Define altura */
    opacity: 0.3; /* Define transparência */
    z-index: 10; /* Define ordem de empilhamento */
    pointer-events: none; /* Desativa eventos do mouse */
    overflow: hidden; /* Oculta conteúdo excedente */
    background-size: cover; /* Ajusta tamanho do fundo */
    background-repeat: no-repeat; /* Evita repetição */
    background-position: center; /* Centraliza imagem */
}

/* O bloco abaixo configura o dropdown do menu superior na barra de navegação */
.dropdown {
    position: relative; /* Define posicionamento */
    display: inline-block; /* Define tipo de exibição */
}

/* O bloco abaixo configura o conteúdo do dropdown do menu superior na barra de navegação */
.dropdown-content {
    display: none; /* Oculta inicialmente */
    position: absolute; /* Define posicionamento */
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255); /* Adiciona sombra */    z-index: 1; /* Define ordem de empilhamento */
    padding: 0; /* Adiciona um pequeno padding ao container */
    margin: 0; /* Remove margens */
    list-style: none; /* Remove marcadores */
    left: -5px; /* Move 5px para a esquerda */
    top: 100%; /* Alinha ao topo */
    margin-top: 10px; /* Adiciona espaço superior */
    width: 240px; /* Define largura */
    background-color: rgba(0, 0, 0, 0.9); /* Define cor de fundo com transparência */
    border-radius: 8px; /* Arredonda os cantos do container */
}

/* O bloco abaixo configura os itens do dropdown do menu superior na barra de navegação */
.dropdown-content li {
    padding: 0; /* Remove padding do item */
    font-size: 16px; /* Define tamanho da fonte */
    line-height: 1.2; /* Ajusta altura da linha */
    margin-bottom: 2px; /* Pequeno espaço entre itens */
}

/* O bloco abaixo configura os links do dropdown do menu superior na barra de navegação */
nav .dropdown .dropdown-content li a {
    color: #d4ac0d; /* Define cor dourada do texto */
    text-decoration: none; /* Remove sublinhado */
    display: block; /* Define tipo de exibição */
    text-align: left; /* Alinha texto à esquerda */    white-space: nowrap; /* Previne quebra de linha */
    border-radius: 4px; /* Arredonda bordas */
    width: 100%; /* Define largura total */
    height: 100%; /* Define altura total */
    box-sizing: border-box; /* Define modelo de caixa */
    padding: 6px 8px; /* Reduz o padding lateral para alinhar melhor o texto */
}

/* O bloco abaixo configura a exibição do dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block; /* Exibe o dropdown */
}

/* O bloco abaixo configura o efeito "hover" para os links do dropdown */
nav .dropdown .dropdown-content li a:hover {
    color: white; /* Muda para branco no hover */
    background-color: #0f0e0e; /* Muda cor de fundo */
}

/* O bloco abaixo configura o conteúdo da página "Sobre" */
.sobre-content {
    position: relative; /* Define posicionamento */
    padding: 20px; /* Adiciona espaço interno */
    max-width: 75%; /* Define largura máxima */
    margin: 10px auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaço interno */
}

/* O bloco abaixo configura o título da página "Sobre" */
.sobre-content h2 {
    color: #d4ac0d; /* Define cor do texto */
    font-style: italic; /* Aplica estilo itálico */
    font-size: 2.5em; /* Define tamanho da fonte */
    text-align: center; /* Centraliza texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-left: 10%; /* Adiciona espaço à esquerda */
}

/* O bloco abaixo configura o texto da página "Sobre" */
.sobre-content p {
    color: #f8f8f8; /* Define cor do texto */
    font-style: italic; /* Aplica estilo itálico */
    margin-top: -10px; /* Ajusta espaço superior */
    margin: 0 auto; /* Centraliza horizontalmente */
    font-size: 1.4em; /* Define tamanho da fonte */
    position: relative; /* Define posicionamento */
    text-align: justify; /* Centraliza texto */
    width: 100%; /* Define largura total */
    max-width: 1200px; /* Define largura máxima */
    white-space: normal; /* Permite quebra de linha */
    overflow: hidden; /* Oculta conteúdo excedente */
    text-overflow: ellipsis; /* Adiciona reticências */
    word-wrap: break-word; /* Permite quebra de palavras */
    margin-left: 10%; /* Adiciona espaço à esquerda */
    text-indent: 2em;
    font-family: Consolas, 'Courier New', monospace;
    
}

/* O bloco abaixo configura o container da página "Sobre" */
.sobre {
    max-width: 800px; /* Define largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaço interno */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Define direção vertical */
    align-items: center; /* Centraliza itens */
}

/* O bloco abaixo configura o espaçamento dos elementos da página "Sobre" */
.sobre > * {
    margin-bottom: 20px; /* Adiciona espaço inferior */
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .menu-title {
        font-size: 16px; /* Reduz tamanho da fonte */
        margin-left: 10px; /* Ajusta margem */
    }
    
    nav .menu-opcoes {
        margin-left: 20px; /* Ajusta margem */
    }
    
    nav .menu-opcoes li {
        margin: 0 5px; /* Ajusta espaçamento */
    }
    
    nav .menu-opcoes li a {
        font-size: 14px; /* Reduz tamanho da fonte */
        padding: 3px; /* Ajusta padding */
    }
    
    .menu-livros {
        width: 150px; /* Reduz largura */
    }
    
    h2 {
        font-size: 20px; /* Reduz tamanho da fonte */
        margin-left: 160px; /* Ajusta margem */
    }
    
    .search-bar {
        margin-right: 10px; /* Ajusta margem */
    }
    
    .search-bar input[type="text"] {
        width: 120px; /* Reduz largura */
    }
}