html, body {
  margin: 0;
  font-family: Arial, serif;
}

#slideshow {
  height: 100vh;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;  

  img {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}

nav {
  margin: 0 auto;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

a {
  padding: 1rem;
  filter: drop-shadow(0 0 5px black);
  margin: .5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}