/* css/cantor_cristao.css */
.menu-button.active {
    background: #388e3c; /* Verde */
    color: #fff;
}
.botao-capitulo {
    background-color: #388e3c;
    color: #fff;
}
.botao-capitulo:hover {
    background-color: #1b5e20; /* Verde mais escuro */
    transform: scale(1.05);
}
.hino-container {
    border-color: #388e3c;
}

/*.rodape {
    color: #d4ac0d;
}*/