/*=====================================================*/
/*                       RODAPÉ                        */
/*           Estilos para o rodapé da página           */
/*=====================================================*/

/* O bloco abaixo configura o rodapé */
footer {
    position: fixed;                                     /* Fixa na tela                       */
    bottom: 0;                                           /* Alinha ao fundo                    */
    left: 0px;                                           /* Alinha à esquerda                  */
    z-index: 1;                                          /* Define ordem de empilhamento       */
    width: 100%;                                         /* Define largura total               */
    height: 30px;                                        /* Define altura                      */
    background-color: #383838;                         /* Define cor de fundo                */
    color: #d4ac0d;                                    /* Define cor do texto                */
    text-align: center;                                  /* Centraliza texto                   */
}

/* O bloco abaixo configura o texto do rodapé */
footer p {
    font-size: 1.3em;                                    /* Define tamanho da fonte            */
    line-height: 1.5;                                    /* Define altura da linha             */
}