
- var n = 0;
.content
  h1.heading Card Flip
  p.description Hover over a card to flip it.
  while n++ < 6
    a(href="#!").card
      .front(style="background-image: url(//source.unsplash.com/300x40"+n+")")
        p Lorem ipsum dolor sit amet consectetur adipisi.
      .back
        div
          p Consectetur adipisicing elit. Possimus, praesentium?
          p Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.
          button.button Click Here
        